<doctype html>
<head>
<title> Stars-DB </title>
</head>
<body>
  <div style="text-align: center; background-color:DodgerBlue;">
    <h1> Stars-DB </h1>
    <a href="{{ url_for('.start') }}"> Home </a> |&nbsp;
    <a href="{{ url_for('.show_obs') }}"> Observations </a> |&nbsp;
    <a href="{{ url_for('.show_files') }}"> Files </a> |&nbsp;
    <a href="{{ url_for('.show_wd') }}"> Weather (Daily) </a> |&nbsp; 
    <a href="{{ url_for('.show_users') }}"> Users </a>  
  </div>
    <p>
	  {% with messages = get_flashed_messages() %}
	    {% if messages %}
		  <ul class=flashes>
		  {% for message in messages %}
		    <li>{{ message }}</li>
		  {% endfor %}
		  </ul>
	    {% endif %}
	  {% endwith %}
  </p>
<p><a style="color:red;" href="{{ url_for('.init') }}"> Initialize Database </a></p>
<p><a href="{{ url_for('.populate') }}"> Populate Database </a></p>
<p><a href="{{ url_for('.restart') }}"> Restart Database </a></p>
<br>
<p><a href="{{ url_for('.search_view') }}"> Simple Query 1: Search by primary id </a></p>
<p><a href="{{ url_for('.show_sq2') }}"> Simple Query 2: List observations in ascending order</a></p>
<p><a href="{{ url_for('.load_sq3') }}"> Simple Query 3: List days by moon phase</a></p>
<br>
<p><a href="{{ url_for('.show_cq_1') }}"> Complex Query 1: Join files and observation tables</a></p>
<p><a href="{{ url_for('.show_cq_2') }}"> Complex Query 2: List files in observation group where date falls on a full moon</a></p>
<p><a href="{{ url_for('.show_cq_3') }}"> Complex Query 3: List observations containing at least one file for every astronomical object listed</a></p>
<p><a href="{{ url_for('.show_cq_4') }}"> Complex Query 4: List file names for observations that start on a date no weather data </a></p>
<p><a href="{{ url_for('.show_cq_5') }}"> Complex Query 5: List total files, band types, and days per astronomical object</a></p>

</body>
</html>


