<doctype html>
<title>Add File- Python Flask MySQL CRUD</title>
<h2>Add File</h2>
<form method="post" action="/addFile">
    <dl>
  		<p>
			<input name="inputFileId" value="" type="text" placeholder="File Id" autocomplete="off" required>
		</p>
		<p>
			<input name="inputObjectName" value="" type="text" placeholder="Object Name" autocomplete="off" required>
		</p>
		<p>
	        <input name="inputDate" value="" type="DATE" placeholder="Date" autocomplete="off" required>
		</p>
		<p>
			<input name="inputTime" value="" type="time" placeholder="Time" autocomplete="off" required>
		</p>
		<p>
            <input name="inputTimeStamp" readonly="readonly" value="" type="DateTime" placeholder="TimeStamp" autocomplete="off">
		</p>
        <p>
			<input name="inputReductionStage" value="" type="text"  placeholder="Reduction Stage" autocomplete="off" required>
        </p>
		<p>
			<input name="inputFileType" value="" type="text" placeholder="File Type" autocomplete="off" required>
		</p>
        <p>
			<input name="inputQuality" value="" type="text" placeholder="Quality" autocomplete="off" required>
		</p>
        <p>
			<input name="inputPosition" value="" type="text" placeholder="Position" autocomplete="off" required>
		</p>
        <p>
			<input name="inputBandType" value="" type="text" placeholder="Band Type" autocomplete="off" required>
		</p>
    </dl>
    <p>
		<input type="submit" value="Submit">
	</p>

</form>
