<doctype html>
<title>Add User - Python Flask MySQL CRUD</title>
<h2>Add User</h2>
<form method="post" action="/addUser">
    <dl>
  		<p>
			<input name="inputUserId" value="" type="text" placeholder="User Id" autocomplete="off" required>
		</p>
		<p>
			<input name="inputFName" value="" type="text" placeholder="First Name" autocomplete="off" required>
		</p>
		<p>
			<input name="inputLName" value="" type="text" placeholder="Last Name" autocomplete="off" required>
		</p>
		<p>
			<input name="inputEmail" value="" type="text" placeholder="Email" autocomplete="off" required>
		</p>
		<p>
			<input name="inputPassword" value="" type="password" placeholder="Password" autocomplete="off" required>
		</p>
    </dl>
    <p>
		<input name="inputPermissions" value=11 type="hidden">
		<input type="submit" value="Submit">
	</p>

</form>
