<doctype html>
<title>Stars-DB: Add </title>
<h2>Add Day Weather </h2>
<form method="post" action="/addWD">
    <dl>
		<p>
	        <input name="inputDate" value="" type="date" placeholder="Date" autocomplete="off" required>
		</p>
		<p>
			<input name="inputRise" value="" type="time" placeholder="Sunrise Time" autocomplete="off" required>
		</p>
		<p>
			<input name="inputDown" value="" type="time" placeholder="Sundown Time" autocomplete="off" required>
		</p>
        <p>
			<input name="inputMoon" value="" type="text" placeholder="Moon Phase" autocomplete="off" required>
		</p>
    </dl>
    <p>
		<input type="submit" value="Submit">
	</p>

</form>
