<doctype html>

<head>
  <title>Edit Observations</title>
</head>

<body>
  <div>
    <h1 style="background-color:DodgerBlue;"> Stars-DB </h1>
    <a href="{{ url_for('.start') }}"> Home </a> |&nbsp;
    <a href="{{ url_for('.start') }}"> Search :TODO </a>
    <h2>Edit Observations</h2>
  </div>
  
<form method="post" action="/updateObs">
    <dl>
		<p>
			<input name="inputGroupId" value="{{ row['groupId'] }}" type="text" placeholder="Group Id" autocomplete="off" required>
		</p>
        <p>
			<input name="inputFileId" value="{{ row['fileId'] }}" type="text" placeholder="User Id" autocomplete="off" required>
		</p>
        <p>
			<input name="inputStart" value="{{ row['inputStart'] }}" type="datetime-local" placeholder="Start Time" autocomplete="off" required>
		</p>
		<p>
			<input name="inputEnd" value="{{ row['inputEnd'] }}" type="datetime-local" placeholder="End Time" autocomplete="off" required>
		</p>
    </dl>
    <p>
		<input name="gid" value="{{ row['groupId'] }}" type="hidden">
		<input name="id" value="{{ row['fileId'] }}" type="hidden">
		<input type="submit" value="Submit">
	</p>
</form>
