<doctype html>
<title>Edit Day Weather</title>
<h2>Edit Day Weather</h2>
<form method="post" action="/updateW">
    <dl>
		<p>
			<input name="inputDate" value="{{ row['dayId'] }}" type="text" placeholder="Date" autocomplete="off" required>
		</p>
		<p>
			<input name="inputRise" value="{{ row['sunriseTime'] }}" type="time" placeholder="Time" autocomplete="off">
		</p>
		<p>
			<input name="inputDown" value="{{ row['sundownTime'] }}" type="time" placeholder="Time" autocomplete="off" required>
		</p>
        <p>
			<input name="inputMoon" value="{{ row['moonPhase'] }}" type="text" placeholder="Moon Phase" autocomplete="off" required>
		</p>
    </dl>
    <p>
		<input name="id" value="{{ row['dayId'] }}" type="hidden">
		<input type="submit" value="Submit">
	</p>
</form>
